@charset "utf-8";
/* CSS Document */
body{
	background-color: rgba(98,28,29,1.00);
}
body , html {
	margin: 0 ;
	padding: 0 ;
	overflow-x:visible;
	height: 100% ;
}
	.nav_bar {
	position: fixed ;
	height: 5vh ;
    width: 100% ;
    background-color: rgba(185, 14, 26, 0.7);
	text-align: center ;
	z-index: 99 ;
	overflow: hidden ;
		top: 0 ;
		
}
.undernav{
	height: 5vh ;
	width: 100%;
}
.first_row{
	
}
.nav_bar ul {
	list-style: none ;
	margin: 0 ;
	padding: 0 ;
	display: inline-block
}
.nav_bar ul li {
	float: left ;
	font-size: 3vmin ;
	padding-top:5px; 
	margin-right: 0 ;
	color: white;
}
.nav_bar ul li a {
	text-decoration: none ;
	color: #A9A9A9 ;
	text-align-last: center ;
	font-family: helvetica neue ;
}
.nav_bar ul li a#onlink{
	color:  #FFFFFF ;
}
.nav_bar ul li a:hover{
	text-decoration: none ;
	color: #FFFFFF ;
	-moz-transition: color 200ms ease-in;
	-webkit-transition: color 200ms ease-in;
	-ms-transition: color 200ms ease-in;
	-o-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}
.container_logo{
	float:left ;
	height: 40vh ;
	width: 25% ;
	background-color: white ;
}
.container1{
	width: 50% ;
	height: 40vh ;
	float: left ;
}
.container2{
	width: 25% ;
	overflow:hidden ;
	height: 40vh ;
	background-color: #01356b ;
	float: right;
}
.container3{
	width: 50% ;
	float: left ;
}
.container4{
	width: 25% ;
	float: left ;
	background-color: #b90e1a ;
	height: 40vh ;
	
}
.container6{
	width: 100%;
	height: 25vh ;
	background-color : #f0eeee  ;
	position: relative ;margin-top: -1vmin ;
	float: left ;
}
.container7{
	width: 100% ;
	height: 65vh ;
	float:right ;
}
.container8{
	background-color: #01356b ;
	margin-top: 15vmin ;
	height: 30vmin ;
	width: 30vmin ;
	float: right ;
	overflow: hidden ;
	display: block ;
}
.container8txt{
	text-align: center;
vertical-align: middle;
}
.container9{
	height: 25vh ;
	width: 100% ;
	background-color:  #f0eeee ; 
	float: left ;
}
.container10{
	float: right ;
	width: 48vw ;
}
.container11{
	height: 96vh ;
	width: 100% ;
	
	float: left ;
	background-image: url("../poze/cnrv toamna.png") ;
	background-size: cover ;
	background-repeat: no-repeat ;
	background-attachment: fixed ;
	z-index: 99 ;
}
.container12{
	height: 30vh ;
	width: 100% ;
	float: left ;
}
.container13{
	float: left ;
	height: 100% ;
	width: 100% ;
	background-color: #f0eeee ;
	background-size: cover ;
	background-repeat: no-repeat ;
	background-attachment: fixed ;
	z-index: 99 ;
	background-image: url("../poze/cnrv istorie.jpg");
}
.container12{
	height: 15vh ;
	width: 100% ;

}
.container14{
	float: left ;
	margin-right: 15px ;
}
.container15{
	background-image: url("../poze/absolvire.jpg") ;
	z-index: 99 ;
	width: 100% ;
	height: 300px;
	float: left ;
}
.p1{
	color: white ;
	font-size: 4vmin ;
	text-align: center ;
	padding: 20px ;
	margin-top: 0vmin ;
}
.p2{
	color : black ;
	font-size:2vmin ;
	text-align: center ;
	padding-left: 10px ;
	padding-right: 10px ;
	font: bold; 
}
.p3 {
	font-size: 8vmin ;
	color:  white ;
	text-align: center ;
	padding-top: 20vh ;
	font: bold ;
	font-family:"Bookman";
}
.p4{
	font-size: 4vmin ;
	color:  white ;
	text-align: center ;
	font: bold ;
	font-family:"Bookman";
}
.p5{
	float: left;
	color: #848786;
	font-size: 3vmin ;
	padding-left: 20px ;
	margin-top: 0vmin ;
}
.p6{
	color: white ;
	font-size: 2vmin ;
	text-align: center ;
	padding-left: 20px ;
	padding-right: 20px ;
	margin-top: 0vmin ;
}
.p7{
	color: white ;
	font-size: 2vmin ;
	margin-left: 50px ;
	margin-top: 7vh ;
}
.p8{
	font-size: 60px; ;
	color:  white ;
	text-align: center ;
	font: bold ;
	font-family:"Bookman";
	padding: 120px 0 0 0 ;
	margin: 0 0 0 0 ;
}
.p9{
	font-size: 2vmin ;
	color:  white ;
	text-align: center ;
	font: bold ;
	font-family:"Bookman";
	padding: 0 0 0 0 ;
	margin: 0 0 0 0 ;
}
#btn{
	margin-top: -5vmin  ;
	padding: 1vw 1vw 1vw 1vw ;
	border-top-right-radius: 1vmin ;
	border-top-left-radius: 1vmin ;
	border-bottom-left-radius: 1vmin ;
	border-bottom-right-radius: 1vmin ;
	border-radius-bottomright:1vmin ;
	border-radius-bottomleft:1vmin ;
	border-radius-topleft :1vmin ;
	border-radius-topright:1vmin;
	background-color: #014284 ;
	height: auto ;
	width: 5vw ;
	margin-left: 9vw ;
}
#btn1{
	padding: 1vw 1vw 1vw 1vw ;
	border-top-right-radius: 1vmin ;
	border-top-left-radius: 1vmin ;
	border-bottom-left-radius: 1vmin ;
	border-bottom-right-radius: 1vmin ;
	border-radius-bottomright:1vmin ;
	border-radius-bottomleft:1vmin ;
	border-radius-topleft :1vmin ;
	border-radius-topright:1vmin;
	background-color: #014284 ;
	height: auto ;
	width: 5vw ;
	margin-left: 20.5vw; 
}
.sect{
	float: left ;
	z-index: 99 ;
	width: 100%;
	height: 100% ;
	background-size: cover ;
	background-repeat: no-repeat ;
	background-attachment: fixed ;
}
.sect1{
	background-image: url("../poze/roman voda 2.png") ;
}
.ul{
	margin-top: 2.5vh;
	margin-left: 20vw; 
	height: auto ;
}
.li{
	background-color: white ;
	margin-left: 2.5vw ;
	margin-right: 2.5vw ;
	width: 15vw ;
	height: 20vh;
	float: left ;
	overflow: hidden ;
}
.li:hover {
	background-color:#A9A9A9;
	-moz-transition: background-color 500ms ease-in;
	-webkit-transition: background-color 500ms ease-in;
	-ms-transition: background-color 500ms ease-in;
	-o-transition: background-color 500ms ease-in;
	transition: background-color 500ms ease-in;
	cursor:pointer;
}
.container16{
	background-image: url("../poze/wallpaper.png");
}
.container17{
	background-color: #fff ;
	width: 400px ;
	float: left ;
	margin-left: 70px ;
	margin-top: 6vh;
}
.container18{
	background-color: #fff ;
	width: 400px ;
	border-top:black ;
	border-top-width: 2px ; border-top-color: black ;
	z-index: 99; 
}